* {
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

a::selection,
h2::selection,
h3::selection,
h1::selection,
p::selection,
h1::selection,
span::selection,
ul::selection,
li::selection {
    background-color: rgba(255, 174, 0, 0.897);
}


header {
    display: flex;
}

nav {
    width: 100%;
    height: 150px;
    background-image: url(../img/index/bcg.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: baseline;
    position: fixed;
    background-color: rgba(240, 248, 255, 0);
}


.nav_points {
    display: inline-block;
    background-color: transparent;
    color: white;
    margin-top: 35px;

}


.nav_points a {
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: aliceblue;



}

.nav_points a:hover {
    animation: a_animate 0.5s ease-in none;

}

@keyframes a_animate {
    50% {
        color: rgb(255, 196, 0);
    }

    100% {
        color: aliceblue;
    }
}

.logo {
    background-color: transparent;
    padding-top: 30px;
}

.logo a {
    padding: 10px;
    background-color: transparent;
    margin-left: 100px;
    font-family: 'Nabla', cursive;
    font-size: 26px;
    text-align: left;
    margin-right: calc(50% - 460px);
    text-decoration: none;

}


/*SLIDER*/



.slider {
    height: 800px;
    margin-top: 150px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.slider__images {
    width: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease-in-out 0.3s;
    background-image: url(../img/srtucture/cabel.jpg);
}

.button_right,
.button_left {
    font-family: 'Nabla', cursive;
    font-size: 80px;
    width: 100px;
    border: none;
    transition: all 0.2s;
}



.button_right:hover,
.button_left:hover {
    font-size: 90px;
}


.button_right:active,
.button_left:active {
    font-size: 70px;
}



.structure_theory {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    background-image: url(../img/srtucture/bcg.png);
    margin-top: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 100% 100%;
}

.structure_theory h2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    padding-top: 60px;
}


.structure_theory .structure_image {
    width: 90%;
    height: 700px;
    background-image: url(../img/srtucture/structure.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}


.structure_text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding: 100px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.structure_text h3{
    margin-bottom: 30px;
}


.structure_text{
    font-size: 22px;
}

h3{
    text-align: center;
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
}

footer {
    width: 100%;
    height: 150px;
    background-image: url(../img/index/bcg_footer.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    vertical-align: baseline;
    background-position: 50% 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}



footer p {
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-top: calc((150px - 20px)/2);
    background-color: transparent;
}