@media only screen and (max-width: 1024px) {
    nav .nav_points {
        margin-top: 40px;
    }

    .logo a {
        margin-left: 50px;
        margin-right: 0;
    }

    .logo {
        margin-right: calc(50% - 387px);
    }

    .nav_points a {
        font-size: 14px;
    }

    footer .footer_p {
        font-size: 14px;
    }

    .slider{
        height: 700px;
    }

   .structure_theory .structure_image{
    height: 500px;
  
   }
    
}

@media only screen and (max-width: 900px) {
    .slider{
        height: 600px;
    }

    .structure_theory .structure_image{
        height: 400px;
      
       }
    
}

@media only screen and (max-width: 800px) {
    .slider{
        height: 500px;
    }
    .structure_theory .structure_image{
        height: 400px;
        width: 100%;
      
       }
}

@media only screen and (max-width: 700px) {
    nav .logo {
        margin-right: calc(50% - 190px);
        margin-left: 0px;
    }
    nav .logo a {
        margin-top: 0px;
        margin-left: 5px;
        margin-right: 0;
        font-size: 18px;
    }
    nav .nav_points {
        margin-top: 15px;
    }

    .slider{
        height: 50%;
    }

    .structure_theory h2{
        padding-top: 77px;

    }
    .structure_theory .structure_image{
        height: 300px;
        width: 100%;
      
       }
}

@media only screen and (max-width: 425px) {
    nav .nav_points {
        margin-top: 40px;
    }

    nav .logo a {
        margin-top: 0px;
        margin-left: 5px;
        margin-right: 0;
        font-size: 14px;
    }

    nav .logo {
        margin-right: calc(50% - 140px);
        margin-left: 0px;
    }

    nav .nav_points a {
        font-size: 12px;
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .theory figure {
        padding: 0px;
        width: 200px;
        height: 200px;
    }

    .theory figure figcaption {
        font-size: 12px;
    }

    .theory figure .lloud_img:hover {
        padding: 100px;
    }

    .theory figure>.lloud_img {
        padding: 90px ;
    }

    .structure_theory .structure_image{
        height: 250px;
        width: 100%;
      
       }

}

@media only screen and (max-width: 320px){
    nav .nav_points {
        margin-top: 40px;
    }

    nav .logo a {
        margin-top: 0px;
        margin-left: 5px;
        margin-right: 0;
        font-size: 14px;
    }

    nav .logo {
        margin-right: calc(50% - 140px);
        margin-left: 0px;
    }

    nav .nav_points a {
        font-size: 12px;
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .theory figure {
        padding: 0px;
        width: 200px;
        height: 200px;
    }

    .theory figure figcaption {
        font-size: 12px;
    }

    .theory figure .lloud_img:hover {
        padding: 100px;
    }

    .theory figure>.lloud_img {
        padding: 90px ;
    }

    .structure_theory .structure_image{
        height: 200px;
        width: 100%;
      
       }
}
