*{
    margin: 0;
    padding: 0;
    background-color: #0C0C0C;
    
}

a::selection,h2::selection, h3::selection, h1::selection, p::selection,
h1::selection, span::selection {
    background-color: rgba(255, 174, 0, 0.897); 
}


header{
    display: flex;
}

nav{
    width: 100%;
    height: 150px;
    background-image: url(../img/index/bcg.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: baseline;
    position: fixed;
    background-color: rgba(240, 248, 255, 0);
}


.nav_points{
    display: inline-block;
    background-color: transparent;
    color: white;
    margin-top: 35px;
  
}


.nav_points a{
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: aliceblue;
   
    

}

.nav_points a:hover{
    animation: a_animate 0.5s ease-in none;

}

@keyframes a_animate{
   50%{
   color: rgb(255, 196, 0);
   }

   100%{
    color: aliceblue;
   }
}

.logo{
    background-color: transparent;
    padding-top: 30px;
}

.logo a{
    padding: 10px;
    background-color: transparent;
    margin-left: 100px;
    font-family: 'Nabla', cursive;
    font-size: 26px;
    text-align: left;
    margin-right: calc(50% - 460px);
    text-decoration: none;
    
}


/*PROMO*/


.promo{
    display: flex;
    background-image: url('../img/index/promo.png');
    background-repeat: no-repeat;
    background-position: 40% 70%;
    width: 100%;
    height: 1000px;
    background-attachment: fixed;
 
}

.promo h1{
    font-family: 'Rubik', sans-serif;
    font-size: 120px;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    font-style: italic;
    background-color: transparent;
    margin-top: 350px;
}


.promo__first-letter{
    animation: first 1s linear infinite;
    background-color: transparent;
}

@keyframes first {
    0%{
        color: #0c0c0ce7;
    }
    6%{
        color: #0c0c0ce7;
    }
    7%{
        color: #fffffff1;
    }

}


.promo__second-letter{
    animation: second 1s linear infinite;
    background-color: transparent;
}

@keyframes  second {
    7%{
        color: #fffffff1;
    }
    8%{
        color: #0c0c0ce7;
    }
    14%{
        color: #0c0c0ce7;
    }
    16%{
        color: #fffffff1;
    }
}

.promo__third-letter{
    animation: third 1s linear infinite;
    background-color: transparent;
}

@keyframes  third {
    14%{
        color: #fffffff1;
    }
    15%{
        color: #0c0c0ce7;
    }
    21%{
        color: #0c0c0ce7;
    }
    22%{
        color: #fffffff1;
    }
}

.promo__fourth-letter{
    animation: fourth 1s linear infinite;
    background-color: transparent;
}

@keyframes  fourth {
    21%{
        color: #fffffff1;
    }
    22%{
        color: #0c0c0ce7;
    }
    28%{
        color: #0c0c0ce7;
    }
    29%{
        color: #fffffff1;
    }
}

.promo__fifth-letter{
    animation: fifth 1s linear infinite;
    background-color: transparent;
}

@keyframes  fifth {
    28%{
        color: #fffffff1;
    }
    29%{
        color: #0c0c0ce7;
    }
    35%{
        color: #0c0c0ce7;
    }
    36%{
        color: #fffffff1;
    }
}

.promo__sixth-letter{
    animation: sixth 1s linear infinite;
    background-color: transparent;
}

@keyframes  sixth {
    35%{
        color: #fffffff1;
    }
    36%{
        color: #0c0c0ce7;
    }
    42%{
        color: #0c0c0ce7;
    }
    43%{
        color: #fffffff1;
    }
}

.promo__seventh-letter{
    animation: seventh 1s linear infinite;
    background-color: transparent;
}

@keyframes  seventh{
    42%{
        color: #fffffff1;
    }
    43%{
        color: #0c0c0ce7;
    }
    49%{
        color: #0c0c0ce7;
    }
    50%{
        color: #fffffff1;
    }
}

.promo__eighth-letter{
    animation: eighth 1s linear infinite;
    background-color: transparent;
}

@keyframes  eighth{
    49%{
        color: #fffffff1;
    }
    50%{
        color: #0c0c0ce7;
    }
    56%{
        color: #0c0c0ce7;
    }
    57%{
        color: #fffffff1;
    }
}

.promo__ninth-letter{
    animation: ninth 1s linear infinite;
    background-color: transparent;
}

@keyframes  ninth{
    56%{
        color: #fffffff1;
    }
    57%{
        color: #0c0c0ce7;
    }
    63%{
        color: #0c0c0ce7;
    }
    64%{
        color: #fffffff1;
    }
}

.promo__tenth-letter{
    animation: tenth 1s linear infinite;
    background-color: transparent;
}

@keyframes  tenth{
    63%{
        color: #fffffff1;
    }
    64%{
        color: #0c0c0ce7;
    }
    70%{
        color: #0c0c0ce7;
    }
    71%{
        color: #fffffff1;
    }
}

.promo__eleventh-letter{
    animation: eleventh 1s linear infinite;
    background-color: transparent;
}

@keyframes  eleventh{
    70%{
        color: #fffffff1;
    }
    71%{
        color: #0c0c0ce7;
    }
    77%{
        color: #0c0c0ce7;
    }
    78%{
        color: #fffffff1;
    }
}

.promo__twelfth-letter{
    animation: twelfth 1s linear infinite;
    background-color: transparent;
}

@keyframes  twelfth{
    77%{
        color: #fffffff1;
    }
    78%{
        color: #0c0c0ce7;
    }
    84%{
        color: #0c0c0ce7;
    }
    85%{
        color: #fffffff1;
    }
}

.promo__thirteenth-letter{
    animation: thirteenth 1s linear infinite;
    background-color: transparent;
}

@keyframes  thirteenth{
    84%{
        color: #fffffff1;
    }
    85%{
        color: #0c0c0ce7;
    }
    91%{
        color: #0c0c0ce7;
    }
    92%{
        color: #fffffff1;
    }
}



.about{
    background-color: white;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about h2{
    font-family: 'Nabla', cursive;
    font-size: 68px;
}


.about_information p{
    font-family: 'Rubik', sans-serif;
    color: #0c0c0ce7;
    font-size: 26px;
    font-weight: 500;
    padding-top: 10px;
  
}

.about_information, p, h2{
    background-color: transparent;

}


.about_information p:last-child{
    margin-bottom: 200px;
}


img{
    width: 400px;
    height: 700px;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-right: 100px;
}


img:hover{
    animation: img_animate 0.6s ease-in-out none;
}

@keyframes img_animate {
    
    50%{
        border-radius: 100%;
    }
    100%{
        border-top-left-radius: 35%;
        border-bottom-right-radius: 40%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
    }

}

footer{
    width: 100%;
    height: 150px;
    background-image: url(../img/index/bcg_footer.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    vertical-align: baseline;
    background-position: 50% 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}



footer p {
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-top: calc((150px - 20px)/2);
   
}