* {
  margin: 0;
  padding: 0;
  background-color: #ffffff;

}

a::selection,
h2::selection,
h3::selection,
h1::selection,
p::selection,
h1::selection,
span::selection {
  background-color: rgba(255, 174, 0, 0.897);
}


header {
  display: flex;
  background-color: transparent;
}

nav {
  width: 100%;
  height: 150px;
  background-image: url(../img/index/bcg.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: baseline;
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
}


.nav_points {
  display: inline-block;
  background-color: transparent;
  color: white;
  margin-top: 35px;

}


.nav_points a {
  background-color: transparent;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  color: aliceblue;
}

.nav_points a:hover {
  animation: a_animate 0.5s ease-in none;

}

@keyframes a_animate {
  50% {
    color: rgb(255, 196, 0);
  }

  100% {
    color: aliceblue;
  }
}

.logo {
  background-color: transparent;
  padding-top: 30px;
}

.logo a {
  padding: 10px;
  background-color: transparent;
  margin-left: 100px;
  font-family: 'Nabla', cursive;
  font-size: 26px;
  text-align: left;
  margin-right: calc(50% - 460px);
  text-decoration: none;

}

/*Theory*/


.theory {
  margin-top: 200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #0C0C0C;
  margin-bottom: calc(240px - 150px);
}

ul {
  list-style-image: url(../img/theory/dot.png);
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

ul li {
  padding: 10px;
}

.theory h1 {
  font-size: 68px;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  margin-bottom: 40px;
}


.theory figure {
  width: 400px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}


.theory figure figcaption {
  text-align: center;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  color: #0C0C0C;
  font-weight: normal;
  font-size: 18px;
}

.theory figure .lloud_img {
  background-image: url(../img/theory/Llpud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 200px 150px;
  transition: all 0.3s ease-out 0.1s;
}


.theory figure .lespol_img {
  background-image: url(../img/theory/Les_Paul_live_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 200px 150px;
  transition: all 0.3s ease-out 0.1s;

}

.theory figure .lloud_img:hover,
.theory figure .lespol_img:hover {
  padding: 220px 170px;
}

.theory p {
  padding: 40px 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 18px;

}

/*Knolege Base*/

.dialog {
  margin: 20px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


.dialog__window {
  border-radius: 30px;
  overflow: hidden;
}


.dialog__header {
  padding: 15px;
  text-align: center;
  font-weight: 600;
  background-color: #0C0C0C;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.dialog__body {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

.dialog__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dialog__input {
  width: 100%;
  padding: 15px 25px;
  background-color: #0C0C0C;
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 2px solid #0C0C0C;
  border-left: 2px solid #0C0C0C;
  border-radius: 0px 0px 0px 0px;
}


.dialog__input::-ms-input-placeholder,
.dialog__input::placeholder,
.dialog__input:-ms-input-placeholder,
.dialog__input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-family: 'Rubik', sans-serif;
}



.dialog__button {
  padding: 0 30px;
  background-color: #0C0C0C;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 28px;
  border: 2px solid #0C0C0C;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
background-image: url(../img/theory/micro.png);
  padding: 0 40px;
}

.dialog__button-hover {

  background-color: gold;
  color: #979797;
  font-size: 2.5rem;
}

.dialog__button-listen {
  padding: 0 40px !important;
  background-color: darkgoldenrod !important;
  color: #ff2d2d !important;
  font-size: 2.5rem !important;
}

.dialog__message {
  margin: 5px;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  border-radius: 40px;
  max-width: 60%;
  text-align: justify;
  -webkit-box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
  box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
}

.dialog__message.question {
  font-family: 'Rubik', sans-serif;
  margin-left: auto;
  border-top-right-radius: 0;
  background-color: #0C0C0C;
  color: #fff;
}

.dialog__message.answer {
  margin-right: auto;
  border-top-left-radius: 0;
  background-color: #ffffff;
}

.dialog__image {
  margin: 5px;
  margin-right: auto;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
  box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
  border-top-left-radius: 0;
  width: 50%;
}

footer {
  width: 100%;
  height: 150px;
  background-image: url(../img/index/bcg_footer.svg);
  background-repeat: no-repeat;
  background-position: 40% 50%;
  vertical-align: baseline;
  background-position: 50% 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}



footer p {
  color: rgb(255, 255, 255);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin-top: calc((150px - 20px)/2);
  background-color: #0C0C0C;
}