* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.2s;

}

a::selection,
h2::selection,
h3::selection,
h1::selection,
p::selection,
h1::selection,
span::selection {
  background-color: rgba(255, 174, 0, 0.897);
}

/*#region header*/


.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: transparent;
}

header {
  background-image: url(../img/index/bcg.svg);
  background-position: 50% 50%;
  background-size: 100% 100%;
  margin-top: -28px;
  background-repeat: no-repeat;
}

.header {
  height: 150px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 30px;
}


.header .header_content ul a,
a:not(:first-child) {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  padding: 25px;
  position: relative;
  font-weight: 500;
  transition: all linear 0.2s;

}

.header .header_content ul a:hover {
  color: gold;
}

.header_content .logo {
  font-size: 26px;
  font-family: 'Nabla';
  text-decoration: none;
}

.header .header_content .nav {
  display: flex;
  list-style: none;

}

.header .header_content .nav li {
  width: 100%;
  text-align: center;
}

.header .header_content ul a:hover::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.header .header_content a:not(:first-child):hover::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.header .header_content button {
  display: none;
  color: white;
  background-color: transparent;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  padding: 15px;
  font-weight: 500;
  border: none;
}



#nav_toggle {
  display: none;
}

/*#endregion*/

/*#region Theory*/

.theory {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #0C0C0C;
  margin-bottom: calc(240px - 150px);
  transition: all linear 2s;
}

ul {
  list-style-image: url(../img/theory/dot.png);
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

ul li {
  padding: 10px;
}

.theory h1 {
  padding-top: 200px;
  font-size: 68px;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  margin-bottom: 40px;
}


.theory figure {
  width: 400px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}


.theory figure figcaption {
  text-align: center;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  color: #0C0C0C;
  font-weight: normal;
  font-size: 18px;
}

.theory figure .lloud_img {
  background-image: url(../img/theory/Llpud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 200px 150px;
  transition: all 0.3s ease-out 0.1s;
}


.theory figure .lespol_img {
  background-image: url(../img/theory/Les_Paul_live_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 200px 150px;
  transition: all 0.3s ease-out 0.1s;

}

.theory figure .lloud_img:hover,
.theory figure .lespol_img:hover {
  padding: 220px 170px;
}

.theory p {
  padding: 40px 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 18px;
}





/*#endregion*/

/*#region Knolege Base*/

.dialog {
  margin: 20px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


.dialog__window {
  border-radius: 30px;
  overflow: hidden;
}


.dialog__header {
  padding: 15px;
  text-align: center;
  font-weight: 600;
  background-color: #0C0C0C;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.dialog__body {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

.dialog__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dialog__input {
  width: 100%;
  padding: 15px 25px;
  background-color: #0C0C0C;
  font-family: 'Rubik', sans-serif;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 2px solid #0C0C0C;
  border-left: 2px solid #0C0C0C;
  border-radius: 0px 0px 0px 0px;
}


.dialog__input::-ms-input-placeholder,
.dialog__input::placeholder,
.dialog__input:-ms-input-placeholder,
.dialog__input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-family: 'Rubik', sans-serif;
}



.dialog__button {
  padding: 0 30px;
  background-color: #0C0C0C;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 28px;
  border: 2px solid #0C0C0C;
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url(../img/theory/micro.png);
  padding: 0 40px;
}

.dialog__button-hover {

  background-color: gold;
  color: #979797;
  font-size: 2.5rem;
}

.dialog__button-listen {
  padding: 0 40px !important;
  background-color: darkgoldenrod !important;
  color: #ff2d2d !important;
  font-size: 2.5rem !important;
}

.dialog__message {
  margin: 5px;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  border-radius: 40px;
  max-width: 60%;
  text-align: justify;
  -webkit-box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
  box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
}

.dialog__message.question {
  font-family: 'Rubik', sans-serif;
  margin-left: auto;
  border-top-right-radius: 0;
  background-color: #0C0C0C;
  color: #fff;
}

.dialog__message.answer {
  margin-right: auto;
  border-top-left-radius: 0;
  background-color: #ffffff;
}

.dialog__image {
  margin: 5px;
  margin-right: auto;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
  box-shadow: 4px 4px 8px 0px rgb(202, 202, 202);
  border-top-left-radius: 0;
  width: 50%;
}


/*#endregion*/

/*#region FOOTER*/
footer {
  width: 100%;
  height: 150px;
  background-image: url(../img/index/bcg_footer.svg);
  background-repeat: no-repeat;
  background-position: 40% 50%;
  vertical-align: baseline;
  background-position: 50% 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}



footer p {
  color: rgb(255, 255, 255);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: calc((150px - 20px)/2);
  background-color: #0C0C0C;
}

/*#endregion*/


/*#region MEDIA*/
@media only screen and (max-width: 1440px) {
  header {
    background-position: 50% 70%;
    background-size: cover;
  }

}


@media only screen and (max-width: 1024px) {
  .header .header_content .nav {
    display: none;
  }


  .header .header_content button {
    display: block;
  }


  #nav_toggle:checked~ul {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0c98;
    height: 100%;
    width: 400px;
  }


  .header .header_content .nav li {
    margin-top: 40px;
    margin-bottom: 40px;

  }

  .header .header_content ul a,
  a:not(:first-child) {
    padding: 10px;
  }


  .header .header_content ul a:hover::after {
    border: none;
  }

  .header .header_content {
    justify-content: space-around;
  }

  .promo h1 span {
    font-size: 70px;
  }

  footer .footer_p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  #nav_toggle:checked~ul {
    width: 400px;
  }
}

@media only screen and (max-width: 425px) {

  #nav_toggle:checked~ul {
    width: 180px;
  }

  header .header_content a img {
    width: 100px;
  }


  .header .header_content a {
    font-size: 24px;
  }


  .theory figure {
    padding: 0px;
    width: 200px;
    height: 200px;
  }

  .theory figure figcaption {
    font-size: 12px;
  }

  .theory figure .lloud_img:hover {
    padding: 100px;
  }

  .theory figure>.lloud_img {
    padding: 90px;
  }


  .theory figure .lespol_img:hover {
    padding: 100px;
  }

  .theory figure>.lespol_img {
    padding: 90px;
  }

  .dialog {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }



}

@media only screen and (max-width: 320px) {
 

  .theory figure {
    padding: 0px;
    width: 200px;
    height: 200px;
  }

  .theory figure figcaption {
    font-size: 12px;
  }

  .theory figure .lloud_img:hover {
    padding: 100px;
  }

  .theory figure>.lloud_img {
    padding: 90px;
  }

  .dialog {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

}

/*#endregion*/