@media only screen and (max-width: 1440px) {

    .structure_theory .structure_image {
        height: 600px;
    }

}


@media only screen and (max-width: 1024px) {

    nav .nav_points {
        margin-top: 40px;
    }

    .logo a {
        margin-left: 50px;
        margin-right: 0;
    }

    .logo {
        margin-right: calc(50% - 400px);
    }

    .nav_points a {
        font-size: 14px;
    }

    .structure_theory {
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #ffffff;
        background-size: 100% 100%;
    }

    .structure_theory .structure_image {
        height: 600px;
        background-size: 90%;
    }

    footer .footer_p {
        font-size: 14px;
    }

}


@media only screen and (max-width: 768px) {

    nav {
        overflow: hidden;
    }

    nav .logo {
        margin-right: calc(50% - 350px);
        margin-left: 50px;
    }

    nav .logo a {
        margin: 0;
    }


    .slider {
        overflow: hidden;
    }

    .structure_theory {
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #ffffff;
        background-size: 100% 100%;
        overflow: hidden;
    }


    .structure_theory h2 {
        padding-top: 100px;
    }


    .structure_theory .structure_image {
        height: 500px;
        background-size: 90%;
        overflow: hidden;
    }

    .structure_text {
        padding: 20px;
    }

}



@media only screen and (max-width: 425px) {
    nav .nav_points {
        margin-top: 40px;
    }

    nav .logo a {
        margin-left: 5px;
        margin-right: 0;
        font-size: 20px;
    }

    nav .logo {
        margin-right: calc(50% - 180px);
        margin-left: 0px;

    }

    nav .nav_points a {
        font-size: 12px;
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;

    }

    .slider {
        height: 400px;
    }

    .structure_theory .structure_image {
        height: 400px;
        background-size: 95%;
        overflow: hidden;
    }


}


@media only screen and (max-width: 375px) {

    nav .nav_points a {
        font-size: 10px;
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    nav .logo {
        margin-right: calc(50% - 165px);
        margin-left: 0px;

    }

    .structure_theory h2 {

        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {

    nav .logo {
        margin-right: calc(50% - 150px);
        margin-left: 0px;

    }

    .structure_theory {
        height: 600px;
    }

    .structure_theory .structure_image {
        width: 90%;
        height: 400px;
        background-image: url(../img/srtucture/structure.png);
        background-size: 70%;
        background-position: center 50%;
    }
    .structure_theory {
        background-image: none;
        background-color: #0C0C0C;
    }

    .structure_theory h2 {

        font-size: 16px;
    }

}